html, body {
  margin: 0;
  padding: 0;
}

ul {
  height: 300px;
  overflow: scroll;
}

li {
  display: table-row;
}

img {
  margin: 0 10px 10px 0;
  width: 100px;
  height: 100px;
}

p {
  display: table-cell;
  vertical-align: middle;
}